{% extends 'layouts/base.html' %}
{% load static %}


{% block title %}Record list{% endblock title %}

{% block css %}

{% endblock css %}
{% block content %}

<div class="container-fluid">
  <div class="col-md-8 mx-auto py-3 mt-5">
    <h3>Project</h3>
    <h1 class="display-1">{{project.title}}</h1>
    <a class="lead url" href="{{project.url}}">{{project.url}}</a>
    <p><small>{{project.created_on}}</small></p>
    <button class="btn btn-success extract">Collect Design Data from Page</button>
    {% csrf_token %}
    <a class="delete btn btn-danger" href="{% url 'delete_project' project.id %}">Delete Project</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mb-3">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Stylesheet</div>
        </div>
        <div class="card-body">
          <ol class="list-group list-group-numbered">
            {% for cssfile in css %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Stylesheets 📄</div>
                {{cssfile.title}}
              </div>
              <span class="badge bg-light rounded-pill">
                <a class="btn btn-sm btn-outline-primary" href="{% url 'download_css' cssfile.id %}">Download</a>
                <a class="btn btn-sm btn-outline-danger" href="{% url 'delete_css' cssfile.id %}">Delete</a>
              </span>
            </li>

            {% empty %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">No Stylesheet File Available</div>
              </div>
              <span class="badge bg-primary rounded-pill">retry</span>
            </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
    <div class="col-md-12 py-3 mx-auto mb-3">
      <div class="card">
        <div class="card-header">
          <div class="card-title">javascripts</div>
        </div>
        <div class="card-body">
          {% for jsfile in js %}
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Javascripts 📄</div>
              {{jsfile.title}}
            </div>
            <span class="badge bg-light rounded-pill">
              <a class="btn btn-sm btn-outline-primary" href="{% url 'download_js' jsfile.id %}">Download</a>
              <a class="btn btn-sm btn-outline-danger" href="{% url 'delete_js' jsfile.id %}">Delete</a>
            </span>
          </li>

          {% empty %}
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">No Javascript File Available</div>
            </div>
            <span class="badge bg-primary rounded-pill">retry</span>
          </li>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
  $(document).ready(function () {
    $('.extract').on('click', function () {
      var url = $('.url').attr('href');
      var csrf = $('input[name="csrfmiddlewaretoken"]').val();
      $('.extract').html('Extracting...');
      $.ajax({
        url: '/extract/',
        type: 'POST',
        data: {
          'url': url,
          'csrfmiddlewaretoken': csrf
        },
        success: function (data) {
          console.log(data);
          Swal.fire({
            icon: 'success',
            title: 'Links Extract from Page',
            text: 'Awesome! Task completed',
          }).then((result) => {
            location.reload();
          });

          $('.extract').html('Successfully extracted')
        },
        error: function (data) {
          console.log(data);
          Swal.fire({
            icon: 'error',
            title: 'Extraction Failed',
            text: 'Something went wrong!',
          }).then((result) => {
            location.reload();
          });
          $('.extract').html('Failed to extracted')
        }
      });
    });
  });
</script>
{% endblock javascripts %}